# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
secrets.yaml
work_in_progress.yaml
/.esphome/
/secrets.yaml
/site/
/venv/
/.vs
local_*.yaml
